* {
	box-sizing: border-box;
	margin: 0;
}

/* ------- GENERAL STYLING ------- */

/* Heading Fonts */
.heading-font {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.other-fonts {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
	background-image: url("../images/circles-light/circles-light.png");
}

/* ------- NAVBAR ------- */
nav {
	border-bottom: 2px solid #ccc;
	width: 100%;
	background-color: #fff;
}

.nav-container {
	width: 80%;
	margin: 0 auto;
	overflow: auto;
}

/* Nav bar name title */
.nav-name {
	background-color: #4aaaa5;
	float: left;
	padding: 30px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
}

/* Nav bar links */
.nav-links {
	float: right;
	padding-top: 30px;
}

.nav-links a {
	color: #777;
	padding: 0 20px;
	font-size: 17px;
	text-decoration: none;
}

.nav-links .link-border {
	border-right: 1px solid #777;
}

/* ------- FOOTER  ------- */

/* Start of Sticky Footer */
html, body {
	height: 100%;
}

.container {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	margin: 0 auto -100px;
}

footer, .footer-purposes {
	height: 100px;
}

/* End of Sticky Footer */

.copyright {
	color: #a2a0a0;
	text-align: center;
	width: 25%;
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;
}

footer {
	clear: both;
	background: #666;
	border-top: 10px solid #4aaaa5;
}

/* ------- MAIN CONTENT ------- */

/* Basic Flow Structure */
.container {
	clear: both;
	width: 100%;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}

.content {
	width: 75%;
	float: left;
	padding-right: 40px;
}

.connect-with-me {
	width: 25%;
	float: right;
	
}

#about-me-content, #contact-content, 
#portfolio-content, #connect-links {
	background: #fff;
	padding: 30px;
	border: 2px solid #ddd;

}

/* Connect With Me Section */
#connect-links {
	text-align: center;
}

#connect-links h3 {
	color: #4aaaa5;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	padding-bottom: 15px;
	border-bottom: 2px solid #ddd;
	margin: 0 auto;
	margin-bottom: 15px;
}

#connect-links a {
	text-decoration: none;
	margin-right: 5px;

}

#connect-links img:last-child {
	margin-right: 0;
}

#connect-links img {
	width: 25%;
}

/* General Heading Styling for Contact, 
Portfolio, and About Me */

h2.heading-font {
	color: #4aaaa5;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 0.8px;
	padding-bottom: 15px;
	border-bottom: 2px solid #ddd;
	margin-bottom: 25px;
}

